[Unit]
Description=Matreshka privileged agent
After=network.target

[Service]
Type=simple
User=root
Group=matreshka
ExecStart=/opt/matreshka/current/bin/matreshka-agent
Restart=on-failure
RestartSec=3
RuntimeDirectory=matreshka
RuntimeDirectoryMode=0750
UMask=0007
NoNewPrivileges=yes
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=strict
ReadWritePaths=/etc/matreshka /etc/systemd/system /var/lib/matreshka /opt/matreshka /run/matreshka

[Install]
WantedBy=multi-user.target
